<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-xl-6 col-md-12">
            <div class="ms-panel ms-panel-fh">
                <div class="ms-card">
                    <div class="ms-card-header">
                        <h6>Compra FiubaCoins</h6>
                    </div>
                    <div class="ms-card-body">
                        <h6>FiubaCoins a comprar: {{cantidadFiubaCoins}} FC</h6>
                        <p>FiubaCoin es una stablecoin utilizada en la plataforma Spotifiuby. Recuerda que su paridad es 1 a 1 con el peso argentino.</p>
                    </div>
                    <div class="ms-card-footer text-right">
                        <a href="#">Leer terminos y condiciones</a>
                    </div>
                    <div class="invoice-buttons text-right">
                        <div class="cho-container btn mp-button"></div>
                    </div>
                </div>                           
            </div>
        </div>
    </div>
</div>